:root {
    --accent: black;
}

.navbar{
    text-align: right;
    margin: 0;
    padding: 1%;
    font-size: 1.1em;
}

.navbar li{
    display: inline;
    padding-right: 1%;
}

.navbar a {
    text-decoration: none;
    color: var(--accent);
}

.navbar a:hover, .navbar-vert a:hover {
    font-weight: bold;
}

.facebook, .linkedin, .github{
    max-width: 20px;
}

.navbar-vert {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
}

.navbar-vert a {
    display: block;
    font-size: 20px;
    color: var(--accent);
    padding-bottom: 65px;
    text-decoration: none;
    text-align: center;
}